/* Calendar Section */

#tf-calendar {
  background: url(../../img/events-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

#calendar-container {
  padding: 40px 0;
}

#loading {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

#calendar {
  height: 70vh;
  max-width: 1100px;
  margin: 40px auto 0;
}


/* Groups map */


.group-container {
  
}

#groups-map-frame {
  width: 100%;
  height: 70vh;
  margin: 40px;
  margin: 0 auto;
}